# DVC with S3 support
dvc[s3]

# Core ML libraries (no version pins)
pandas
numpy==1.24.4
scikit-learn==1.3.0

joblib

# Web framework
Flask
gunicorn

# Other tools
PyYAML
pytest
pytest-cov
tox
flake8
black
python-dotenv